/* .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  height: 500px;
}
.modal{
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  height: 100vh !important;
  z-index: 999 !important;
}
  */
